<% layout('layouts/boilerplate')%>
<div id="cluster-map"></div>
<div class="container">
    <h1>All Sharps</h1>

    <% for (let sharp of sharps){%>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <%if(sharp.images.length) {%>
                <img class="img-fluid" alt="" src="<%=sharp.images[0].url%>">
                <% }else {%>
                <img class="img-fluid" alt=""
                    src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png">
                <% } %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= sharp.title %> </h5>

                    <p class="card-text"><%= sharp.description %></p>
                    <p class="card-text">
                        <small class="text-muted"><%= sharp.location%></small>
                    </p>
                    <a class="btn btn-primary" href="/sharps/<%=sharp._id%>">View <%=sharp.title%></a>
                </div>
            </div>
        </div>
    </div>
    <% }%>
</div>
<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const sharps = { features: <%- JSON.stringify(sharps) %>}
</script>

<script src="/javascripts/clusterMap.js"></script>